/*Para importar para todos os documentos, se linkar no index, vou ter que linkr em todos os outros documentos. Aqui basta atribuir o style para todos os documentos que vão usar o style e a fonte será atribuida a todos.*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

/*Importação dos icones*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary: "Baloo Da 2","serif";
    --font-secondary: "Josefin Slab", "serif";
    --font-action: "Mulish", "serif";
}

.scroll-suave{
    transition: 4s;
}

.hamburguer{
    position: fixed;

    width: 2rem;
    height: 2rem;
    right: 3rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 4s;
    cursor: pointer;
    z-index: 999;
}

.show-menu .hamburguer{
    right: 16rem;
    
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .3rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg)  translate(.2rem,-.5rem);
}


/*-------------------------------------------------------------------------------------------------------------*/
/*Fechar*/
.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff ;
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}
/*-------------------------------------------------------------------------------------------------------------*/


.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

/*----------------------------------------------------------------------------------------------*/
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s infinite alternate;
}

@keyframes zoom {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/*----------------------------------------------------------------------------------------------*/

.banner{
    position: absolute;
    left: 10%;
    top: 20%;
}

/*----------------------------------------------------------------------------------------------*/
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secondary);
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 500;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #ffffff;

    box-shadow: 0.1rem 0.1rem 1px #000;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: -webkit-linear-gradient(to right, #2e89ff, #213b92);
    background: linear-gradient(to right, #3182fc, #1b278b); 
    
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
    transition: 0.3s;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        
    }
    100%{
        transform: translateY(0) rotatey(0);
        opacity: 1;
    }
}
/*-------------------------------------------------------------------------------------------------------*/

.banner button:hover{
    opacity: 0;
    padding: 1.1rem 2.1rem;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 998;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-item{
    text-align: center;   
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    color: #555;
    font-size: 2rem;
    transition: font-size .5s;
}

.menu-link:hover{
    color:#2431a8;
}

.social-media{

    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: #333;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: font-size .3s;
    
}

.social-media i:hover{
    font-size: 2.4rem;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #e2e1e1;
}

.sessao-projetos{
    background-color:#e2e1e1;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4d4d4d;
    border-bottom: solid 3px #1755a7;
    margin-bottom: 1.5rem;

}

.conhecimento-header{
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
    
}

.conhecimento-text {
    font-family: var(--font-secondary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 2.4rem;
}

.card{
    position: relative;
    width: 18rem;
    height: 30rem;
    z-index: 1;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(61, 58, 58);
    border-radius: .5rem;
    box-shadow: 0 .8rem 1.9rem rgba(0,0,0,0.5);
}

.card-img-wrapper img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;border-bottom: 2rem;
}

.card:hover .card-img-wrapper img{
    opacity: .5
}

.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    opacity: 0;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    opacity: 0;
    color:#fff;
}

.card-info h3{
    font-family: var(--font-secondary);
    font-weight: bolder;
    color: #49aa26;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-action);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn{
    
    background: -webkit-linear-gradient(to right, #2e89ff, #213b92);
    background: linear-gradient(to right, #3182fc, #1b278b); 
    font-family: var(--font-action);
    font-size: .8rem;
    color:#eee;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    cursor: pointer;
}
.card-info button{
    width: 8rem;
    height: 2.5rem;
    transition: .2s;
}

.card-info button:hover {
    font-size: .9rem;
 
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #585757;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 2.4rem;
}

.contato-wrapper{
    width: 43%;
    height: 33rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);
}

.contato-left{
    width: 50%;
    background:
        linear-gradient(rgba(15,15,15,.06), rgba(22,22,22,0.9)), 
        url(imagens/contato.jpg)
    ;
    background-size: cover;
}

.contato-right{
    background-color: #eee;
    padding: 3rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    font-family: var(--font-primary);
    text-align: center;
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed #636363;
    height: 3rem;

    /*tirar a marcação quando o campo estiver selecionado*/
    outline: none;
    margin: 1rem 0;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 22rem;
    max-height: 3;
}

.field-label{
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    width: 100%;
    height: 2.1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background: url(imagens/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem #000;
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    
    background: -webkit-linear-gradient(to right, #2e89ff, #213b92);
    background: linear-gradient(to right, #3182fc, #1b278b); 
    padding: 0 3rem;
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 7px;
    border:none;
    padding: 0.3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    grid-column: 2;
    background: linear-gradient(to right, #3182fc, #1b278b);
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 1.3rem;
}